@{
	ViewData["Title"] = "Menu Principal de PayDay";
}

@model List<MenuOption>

Aquí están las opciones que tiene PayDay en su menú principal

<p align="CENTER"><img src="\images\menuprincipal.png"></p>

Tal como lo muestra la figura anterior, el Menú Principal cuenta con las siguientes opciones, veamos cada una de ellas:
<ul>
    @foreach (var option in Model)
    {
        <li>
            <a href="@Url.Action(option.Action, option.Controller)">@option.Name</a>
            @if (option.SubOptions1 != null && option.SubOptions1.Any())
            {
                <ul>
                    @foreach (var subOption in option.SubOptions1)
                    {
                        <li>
                            <a href="@Url.Action(subOption.Action, option.Controller)" title="@subOption.Description">
                                @subOption.Name
                            </a>
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>